In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
os.getcwd()

'/home/luiz/GitHub/data_science'

In [2]:
data = pd.read_csv(r'DataSets/netflix_titles_nov_2019.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 12 columns):
show_id         5837 non-null int64
title           5837 non-null object
director        3936 non-null object
cast            5281 non-null object
country         5410 non-null object
date_added      5195 non-null object
release_year    5837 non-null int64
rating          5827 non-null object
duration        5837 non-null object
listed_in       5837 non-null object
description     5837 non-null object
type            5837 non-null object
dtypes: int64(2), object(10)
memory usage: 547.3+ KB

In [4]:
data.head()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show

In [5]:
data.columns

Index(['show_id', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'type'],
      dtype='object')

In [6]:
data.columns = ['id', 'titulo', 'diretor', 'elenco', 'pais', 'adicionado',
       'lançamento', 'classificação', 'duração', 'categorias', 'descrição',
       'tipo']

In [7]:
interesse = ['titulo', 'diretor', 'pais', 'lançamento', 'classificação', 'categorias']

In [8]:
data.describe()

                 id   lançamento
count  5.837000e+03  5837.000000
mean   7.730079e+07  2013.688539
std    9.479777e+06     8.419088
min    2.698800e+05  1925.000000
25%    8.004520e+07  2013.000000
50%    8.016353e+07  2016.000000
75%    8.024188e+07  2018.000000
max    8.122720e+07  2020.000000

In [9]:
data.describe(include='O')

,titulo,diretor,elenco,pais,adicionado,classificação,duração,categorias,descrição,tipo
count,5837,3936,5281,5410,5195,5827,5837,5837,5837,5837
unique,5780,3108,5087,527,1092,14,194,449,5829,2
top,Oh My Ghost,"Raúl Campos, Jan Suter",David Attenborough,United States,"November 1, 2019",TV-MA,1 Season,Documentaries,A surly septuagenarian gets another chance at ...,Movie
freq,3,18,18,1907,94,1937,1259,297,3,3939

In [10]:
data['lançamento'].median()

2016.0

In [11]:
data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['lançamento'] < 2000)].min()

titulo         187
lançamento    1925
dtype: object

In [12]:
data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['lançamento'] < 2000)].median()

lançamento    1989.0
dtype: float64

In [13]:
#Quantos anos se passaram entre 2000 e o filme mais recente nos EUA
data[['lançamento']]\
.loc[(data['lançamento'] < 1999)\
     & (data['pais'] == 'United States')].max() \
- data[['lançamento']]\
.loc[(data['lançamento'] < 1999)\
     & (data['pais'] == 'United States')].min()

lançamento    56
dtype: int64

In [14]:
#Quantos anos se passaram entre 1999 e o filme mais antigo nos EUA
data[['lançamento']]\
.loc[(data['lançamento'] < 2000)\
     & (data['pais'] == 'United States')].max() \
- data[['lançamento']]\
.loc[(data['lançamento'] < 2000)\
     & (data['pais'] == 'United States')].min()

lançamento    57
dtype: int64

In [15]:
#Lançamentos entre 1999 e o filme mais antigo nos EUA
data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['lançamento'] < 2000)\
     & (data['pais'] == 'United States')].count()

titulo        147
lançamento    147
diretor       132
pais          147
adicionado    137
dtype: int64

In [16]:
#Lançamentos entre 2000 e o filme mais recente nos EUA
data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['lançamento'] >= 2000)\
     & (data['pais'] == 'United States')].count()

titulo        1760
lançamento    1760
diretor       1237
pais          1760
adicionado    1507
dtype: int64

In [17]:
(data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['lançamento'] >= 2000)\
     & (data['pais'] == 'United States')].count()\
/ data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['lançamento'] < 2000)\
     & (data['pais'] == 'United States')].count()) * 100

titulo        1197.278912
lançamento    1197.278912
diretor        937.121212
pais          1197.278912
adicionado    1100.000000
dtype: float64

In [18]:
data.sort_values('lançamento')

,id,titulo,diretor,elenco,pais,adicionado,lançamento,classificação,duração,categorias,descrição,tipo
2154,81030762,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-PG,1 Season,TV Shows,This collection restores films from women who ...,TV Show
4929,60027945,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-PG,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,Movie
4931,60027942,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-G,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,Movie
4946,70022548,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,NR,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,Movie
4943,70013050,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-14,82 min,Documentaries,This installment of Frank Capra's acclaimed do...,Movie
4941,80119186,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,Movie
4936,80119194,The Memphis Belle: A Story of a\nFlying Fortress,William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,Movie
4938,80119191,The Negro Soldier,Stuart Heisler,NaN,United States,"March 31, 2017",1944,TV-14,40 min,"Classic Movies, Documentaries",This documentary urged African Americans to en...,Movie
4940,80119189,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-PG,76 min,"Classic Movies, Documentaries",British and American troops join forces to lib...,Movie
4923,80119190,Know Your Enemy - Japan,"Frank Capra, Joris Ivens","Walter Huston, Dana Andrews",United States,"March 31, 2017",1945,TV-14,63 min,"Classic Movies, Documentaries",Though culturally insensitive by modern standa...,Movie
4930,80119188,San Pietro,John Huston,NaN,United States,"March 31, 2017",1945,TV-14,32 min,"Classic Movies, Documentaries","After the Allies invade Italy, the Liri Valley...",Movie
4927,80119192,Nazi Concentration Camps,George Stevens,NaN,United States,"March 31, 2017",1945,TV-MA,59 min,"Classic Movies, Documentaries",Shocking footage shows Nazi concentration camp...,Movie
3085,1005494,The Stranger,Orson Welles,"Edward G. Robinson, Loretta Young, Orson Welle...",United States,"July 19, 2018",1946,TV-PG,94 min,"Classic Movies, Dramas, Thrillers",A Nazi fugitive hiding in Connecticut tries to...,Movie
4924,80119187,Let There Be Light,John Huston,Walter Huston,United States,"March 31, 2017",1946,TV-PG,58 min,"Classic Movies, Documentaries",Some returning combat veterans suffer scars th...,Movie
5143,80161851,Pioneers of African-American Cinema,"Oscar Micheaux, Spencer Williams, Richard E. N...",NaN,United States,"February 1, 2017",1946,TV-14,1 Season,TV Shows,This newly preserved collection features more ...,TV Show
4939,80119193,Thunderbolt,"William Wyler, John Sturges","James Stewart, Lloyd Bridges",United States,"March 31, 2017",1947,TV-14,42 min,"Classic Movies, Documentaries",A P-47 Thunderbolt squadron is shown in prepar...,Movie
5817,60003082,White Christmas,Michael Curtiz,"Bing Crosby, Danny Kaye, Rosemary Clooney, Ver...",United States,"July 15, 2012",1954,TV-G,120 min,"Children & Family Movies, Classic Movies, Come...",Two war buddies fall for two sisters and follo...,Movie
257,70031792,Rebel Without a Cause,Nicholas Ray,"James Dean, Natalie Wood, Sal Mineo, Jim Backu...",United States,"November 1, 2019",1955,PG-13,111 min,"Classic Movies, Dramas",When Jim Stark arrives in a new town with his ...,Movie
220,516788,Forbidden Planet,Fred M. Wilcox,"Leslie Nielsen, Walter Pidgeon, Anne Francis, ...",United States,"November 1, 2019",1956,G,98 min,"Action & Adventure, Classic Movies, Sci-Fi & F...","A pulp-fiction sci-fi classic, Forbidden Plane...",Movie
222,542137,Gigi,"Vincente Minnelli, Charles Walters","Leslie Caron, Maurice Chevalier, Louis Jourdan...",United States,"November 1, 2019",1958,G,115 min,"Classic Movies, Comedies, Music & Musicals",Gigi's an avant-garde French waif being groome...,Movie
204,70046968,Cat on a Hot Tin Roof,Richard Brooks,"Elizabeth Taylor, Paul Newman, Burl Ives, Jack...",United States,"November 1, 2019",1958,NR,108 min,"Classic Movies, Dramas",Members of a Southern clan scramble to curry f...,Movie
4199,80158391,Ujala,Naresh Saigal,"Mala Sinha, Shammi Kapoor, Raaj Kumar, Leela C...",India,"October 15, 2017",1959,TV-PG,143 min,"Dramas, International Movies",An honest man dreams of a better life for his ...,Movie
4195,80158547,Singapore,Shakti Samanta,"Shammi Kapoor, Padmini, Maria Menado, Shashika...","India, Malaysia","October 15, 2017",1960,TV-PG,158 min,"Comedies, Dramas, International Movies","When his employee disappears in Singapore, Shy...",Movie
203,60002033,Butterfield 8,Daniel Mann,"Elizabeth Taylor, Laurence Harvey, Eddie Fishe...",United States,"November 1, 2019",1960,TV-14,108 min,"Classic Movies, Dramas, Romantic Movies",Elizabeth Taylor won an Oscar as Gloria Wandro...,Movie
254,60021590,Ocean's Eleven,Lewis Milestone,"Frank Sinatra, Dean Martin, Sammy Davis Jr., P...",United States,"November 1, 2019",1960,TV-PG,127 min,"Action & Adventure, Classic Movies, Comedies",Frank Sinatra leads an all-star cast as Danny ...,Movie
242,709380,Lolita,Stanley Kubrick,"James Mason, Shelley Winters, Peter Sellers, S...","United Kingdom, United States","November 1, 2019",1962,R,153 min,"Classic Movies, Dramas, Romantic Movies","In this black comedy, an English professor mar...",Movie
251,60011729,Mutiny on the Bounty,"Lewis Milestone, Carol Reed","Marlon Brando, Trevor Howard, Richard Harris, ...",United States,"November 1, 2019",1962,TV-PG,185 min,"Action & Adventure, Classic Movies, Dramas",Marlon Brando gives a nuanced performance as t...,Movie
4587,20257393,Professor,Lekh Tandon,"Shammi Kapoor, Kalpana, Lalita Pawar, Parveen ...",India,"July 1, 2017",1962,TV-PG,163 min,"Comedies, Dramas, International Movies",A college grad in need of money must disguise ...,Movie
4593,70172488,The Twilight Zone (Original Series),NaN,Rod Serling,United States,NaN,1963,TV-PG,4 Seasons,"Classic & Cult TV, TV Sci-Fi & Fantasy","Hosted by creator Rod Serling, this groundbrea...",TV Show
211,449931,Doctor Zhivago,David Lean,"Omar Sharif, Julie Christie, Geraldine Chaplin...","United States, Italy, United Kingdom, Liechten...","November 1, 2019",1965,PG-13,200 min,"Classic Movies, Dramas, Romantic Movies",A young physician and his beautiful mistress g...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,81033429,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ...",Movie
1589,80235932,Trailer Park Boys: The Animated Series,"Norm Hiscock, Gary Howsam, Mike Smith, John Pa...","Mike Smith, John Paul Tremblay, Robb Wells, Jo...",Canada,"March 31, 2019",2019,TV-MA,1 Season,TV Comedies,Nova Scotia’s favorite miscreants have always ...,TV Show
1587,81038545,Mercy Black,Owen Egerton,"Daniella Pineda, Elle LaMont, Janeane Garofalo...",United States,"March 31, 2019",2019,TV-14,88 min,Horror Movies,"Fifteen years after a traumatic crime, a woman...",Movie
1583,80231373,Ultraman,NaN,"Ryohei Kimura, Takuya Eguchi, Megumi Han, Hide...","United States, Japan","April 1, 2019",2019,TV-14,1 Season,"Anime Series, International TV Shows","Decades ago, a hero from the stars left this w...",TV Show
1570,80186475,Pokémon the Series,NaN,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",Japan,NaN,2019,TV-Y7-FV,2 Seasons,"Anime Series, Kids' TV",Ash and his Pikachu travel to the Alola region...,TV Show
1624,80191046,ReMastered: The Miami Showband Massacre,Stuart Sender,NaN,NaN,"March 22, 2019",2019,TV-MA,71 min,"Documentaries, Music & Musicals",The killing of three members of the Miami Show...,Movie
1712,80995799,Walk. Ride. Rodeo.,Conor Allyn,"Spencer Locke, Missi Pyle, Sherri Shepherd, Ba...",United States,"March 8, 2019",2019,TV-PG,100 min,"Children & Family Movies, Dramas",In the wake of an accident that leaves her par...,Movie
1625,80223108,Selling Sunset,NaN,NaN,NaN,"March 22, 2019",2019,TV-MA,1 Season,Reality TV,The elite real estate brokers at The Oppenheim...,TV Show
1627,80169469,The Dirt,Jeff Tremaine,"Douglas Booth, Iwan Rheon, Colson Baker, Danie...",United States,"March 22, 2019",2019,TV-MA,108 min,"Comedies, Dramas, Music & Musicals",In this unflinching biopic based on Mötley Crü...,Movie
1707,81033727,Shadow,NaN,"Pallance Dladla, Khathu Ramabulana, Amanda du-...",NaN,"March 8, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Haunted by a tragic loss, an ex-cop with a rar...",TV Show
1706,81024044,Lady J,Emmanuel Mouret,"Cécile De France, Edouard Baer, Alice Isaaz, N...",France,"March 8, 2019",2019,TV-14,111 min,"Dramas, Independent Movies, International Movies",When her romance with a lustful marquis takes ...,Movie
1705,80184676,Juanita,Clark Johnson,"Alfre Woodard, Adam Beach, LaTanya Richardson ...",United States,"March 8, 2019",2019,TV-MA,90 min,"Dramas, Independent Movies, Romantic Movies","Burdened by troubles in life and love, a mothe...",Movie
1700,80204890,Formula 1: Drive to Survive,NaN,NaN,United Kingdom,"March 8, 2019",2019,TV-MA,1 Season,Docuseries,"Drivers, managers and team owners live life in...",TV Show
1695,80998491,After Life,NaN,"Ricky Gervais, Tom Basden, Tony Way, Diane Mor...",United Kingdom,"March 8, 2019",2019,TV-MA,1 Season,"British TV Shows, International TV Shows, TV C...",Struggling to come to terms with his wife's de...,TV Show
1688,80214087,Jimmy Carr: The Best of Ultimate Gold Greatest...,Brian Klein,Jimmy Carr,NaN,"March 12, 2019",2019,TV-MA,58 min,Stand-Up Comedy,Nothing is off limits as Jimmy Carr serves up ...,Movie
1685,80192187,Triple Frontier,J.C. Chandor,"Ben Affleck, Oscar Isaac, Charlie Hunnam, Pedr...",United States,"March 13, 2019",2019,R,126 min,Action & Adventure,Loyalties are tested when five former special ...,Movie
1675,80124723,Turn Up Charlie,NaN,"Idris Elba, Piper Perabo, JJ Feild, Frankie He...",United Kingdom,"March 15, 2019",2019,TV-MA,1 Season,"British TV Shows, International TV Shows, TV C...",A down-and-out DJ plots to rebuild his music c...,TV Show
1671,80194956,The Disappearance of Madeleine McCann,NaN,NaN,NaN,"March 15, 2019",2019,TV-14,1 Season,"Crime TV Shows, Docuseries",The documentary takes a detailed look at the d...,TV Show
1667,80174608,"Love, Death & Robots",NaN,"Topher Grace, Mary Elizabeth Winstead, Gary Co...",United States,"March 15, 2019",2019,TV-MA,1 Season,"TV Action & Adventure, TV Horror, TV Sci-Fi & ...","Terrifying creatures, wicked surprises and dar...",TV Show
451,80167821,Carmen Sandiego,NaN,"Gina Rodriguez, Finn Wolfhard, Abby Trott, Mic...",United States,NaN,2019,TV-Y7-FV,2 Seasons,"Kids' TV, TV Thrillers","A master thief who uses her skills for good, C...",TV Show
1656,81041273,Edoardo Ferrario: Temi Caldi,Francesco Imperato,Edoardo Ferrario,Italy,"March 15, 2019",2019,TV-MA,65 min,Stand-Up Comedy,Italian comedian Edoardo Ferrario riffs on lif...,Movie
1649,81045888,Green Door,NaN,"Jam Hsiao, Bea Hayden Kuo, Enno Cheng, Hsieh Y...",Taiwan,"March 17, 2019",2019,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A troubled psychologist returns from the U.S. ...,TV Show
1644,81037077,Amy Schumer Growing,Amy Schumer,Amy Schumer,United States,"March 19, 2019",2019,TV-MA,61 min,Stand-Up Comedy,"Amy Schumer spills on her new marriage, person...",Movie
1643,81002451,My Husband Won't Fit,NaN,"Natsumi Ishibashi, Aoi Nakamura",Japan,"March 20, 2019",2019,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Kumiko and Kenichi meet in college and build a...,TV Show
1640,81033107,Alexis Viera: A Story of Surviving,Luis Ara,Alexis Viera,NaN,"March 20, 2019",2019,TV-14,69 min,"Documentaries, International Movies, Sports Mo...",After being shot during a robbery in Colombia ...,Movie
1632,80220655,Stay Tuned!,NaN,"Kyoko Yoshine, Hiroki Iijima, Kanako Miyashita...",Japan,"March 21, 2019",2019,TV-14,1 Season,"International TV Shows, TV Comedies, TV Dramas",She's the most unlikely candidate to ever stum...,TV Show
1630,81049949,Antoine Griezmann: The Making of a Legend,NaN,NaN,NaN,"March 21, 2019",2019,TV-PG,60 min,"Documentaries, International Movies, Sports Mo...","With heart and determination, Antoine Griezman...",Movie
1628,80044950,The OA,NaN,"Brit Marling, Jason Isaacs, Emory Cohen, Scott...",United States,NaN,2019,TV-MA,2 Seasons,"TV Dramas, TV Mysteries, TV Sci-Fi & Fantasy","Seven years after vanishing from her home, a y...",TV Show
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
133,81034946,Maradona in Mexico,NaN,Diego Armando Maradona,"Argentina, United States, Mexico","November 13, 2019",2020,TV-MA,1 Season,"Docuseries, Spanish-Language TV Shows","In this docuseries, soccer great Diego Maradon...",TV Show

In [19]:
data.groupby('pais').count().sort_values(['lançamento']).tail(10)

,id,titulo,diretor,elenco,adicionado,lançamento,classificação,duração,categorias,descrição,tipo
pais,,,,,,,,,,,
Turkey,78,78,60,78,71,78,78,78,78,78,78
Mexico,80,80,52,75,76,80,80,80,80,80,80
France,85,85,49,72,78,85,85,85,85,85,85
Spain,113,113,81,99,99,113,113,113,113,113,113
South Korea,133,133,39,130,119,133,133,133,133,133,133
Canada,139,139,87,123,105,139,139,139,139,139,139
Japan,168,168,51,166,123,168,167,168,168,168,168
United Kingdom,336,336,167,282,270,336,336,336,336,336,336
India,697,697,642,675,693,697,697,697,697,697,697
United States,1907,1907,1369,1686,1644,1907,1904,1907,1907,1907,1907

In [20]:
data[['titulo', 'lançamento', 'diretor', 'pais', 'adicionado']]\
.loc[(data['pais'] == 'United States')].count()

titulo        1907
lançamento    1907
diretor       1369
pais          1907
adicionado    1644
dtype: int64

In [21]:
selecao = data[interesse]

In [22]:
selecao.groupby(['classificação']).count()

               titulo  diretor  pais  lançamento  categorias
classificação
G                  32       31    30          32          32
NC-17               2        1     2           2           2
NR                218      201   217         218         218
PG                160      160   159         160         160
PG-13             227      227   226         227         227
R                 439      436   438         439         439
TV-14            1593      977  1457        1593        1593
TV-G              147       74   133         147         147
TV-MA            1937     1289  1816        1937        1937
TV-PG             678      416   617         678         678
TV-Y              139       31   102         139         139
TV-Y7             156       62   120         156         156
TV-Y7-FV           92       18    80          92          92
UR                  7        7     7           7           7

In [23]:
selecao.groupby(['pais', 'classificação']).count().sort_values(['lançamento']).tail(10)

                              titulo  diretor  lançamento  categorias
pais           classificação
United States  PG                 93       93          93          93
India          TV-PG             119      112         119         119
United States  PG-13             135      135         135         135
United Kingdom TV-MA             137       67         137         137
India          TV-MA             164      152         164         164
United States  TV-PG             207      123         207         207
               R                 232      232         232         232
               TV-14             332      188         332         332
India          TV-14             370      339         370         370
United States  TV-MA             598      410         598         598

In [24]:
selecao['classificação'].unique()

array(['TV-14', 'TV-G', 'TV-Y', 'TV-MA', 'TV-PG', 'R', 'TV-Y7', 'PG', 'G',
       'PG-13', 'TV-Y7-FV', 'NR', 'UR', 'NC-17', nan], dtype=object)

In [25]:
pd.crosstab(selecao['classificação'], selecao['pais'], margins=True)

pais,Argentina,"Argentina, Brazil, France, Poland, Germany, Denmark","Argentina, Chile","Argentina, Chile, Peru","Argentina, France","Argentina, France, Germany","Argentina, Italy","Argentina, Spain","Argentina, United States","Argentina, United States, Mexico",...,"United States, Uruguay","United States, Venezuela",Uruguay,"Uruguay, Argentina, Spain","Uruguay, Spain, Mexico",Venezuela,"Venezuela, Colombia",Vietnam,West Germany,All
classificação,,,,,,,,,,,,,,,,,,,,,
G,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
NC-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
NR,3,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,217
PG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,159
PG-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,226
R,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,438
TV-14,3,1,1,0,0,0,1,0,0,0,...,0,1,1,0,0,1,0,2,0,1457
TV-G,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,133
TV-MA,25,0,0,0,1,1,1,7,1,1,...,1,0,0,1,1,0,0,2,1,1816
TV-PG,2,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,617
TV-Y,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,102
TV-Y7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,120
TV-Y7-FV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,80
UR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
All,38,1,1,1,1,1,2,7,1,1,...,1,1,2,1,1,1,1,4,1,5404

In [26]:
teste = selecao['pais'].unique()

In [27]:
len(teste)

528

In [28]:
selecao.isnull().sum()

titulo              0
diretor          1901
pais              427
lançamento          0
classificação      10
categorias          0
dtype: int64

In [29]:
selecao.loc[selecao['classificação'].isnull()]

,titulo,diretor,pais,lançamento,classificação,categorias
3767,Little Lunch,NaN,Australia,2015,NaN,"Kids' TV, TV Comedies"
4883,Louis C.K. 2017,Louis C.K.,United States,2017,NaN,Movies
5048,My Honor Was Loyalty,Alessandro Pepe,Italy,2015,NaN,Dramas
5154,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,NaN,2017,NaN,Movies
5310,Gargantia on the Verdurous Planet,NaN,Japan,2013,NaN,"Anime Series, International TV Shows"
5339,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,2016,NaN,Movies
5440,Louis C.K.: Hilarious,Louis C.K.,United States,2010,NaN,Movies
5486,Louis C.K.: Live at the Comedy Store,Louis C.K.,United States,2015,NaN,Movies
5689,Fireplace 4K: Classic Crackling Fireplace from...,George Ford,NaN,2015,NaN,Movies
5690,Fireplace 4K: Crackling Birchwood from Firepla...,George Ford,NaN,2015,NaN,Movies

In [30]:
selecao['classificação'].mode()

0    TV-MA
dtype: object

In [31]:
selecao['classificação'].fillna('TV-MA', inplace=True)

/usr/lib64/python3.6/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [32]:
selecao.drop('diretor', axis=1, inplace=True).isnull()

/usr/lib64/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

AttributeError: 'NoneType' object has no attribute 'isnull'

In [33]:
selecao

,titulo,pais,lançamento,classificação,categorias
0,Chocolate,South Korea,2019,TV-14,"International TV Shows, Korean TV Shows, Roman..."
1,Guatemala: Heart of the Mayan World,NaN,2019,TV-G,"Documentaries, International Movies"
2,The Zoya Factor,India,2019,TV-14,"Comedies, Dramas, International Movies"
3,Atlantics,"France, Senegal, Belgium",2019,TV-14,"Dramas, Independent Movies, International Movies"
4,Chip and Potato,"Canada, United Kingdom",2019,TV-Y,Kids' TV
5,Crazy people,Nigeria,2018,TV-14,"Comedies, International Movies, Thrillers"
6,I Lost My Body,France,2019,TV-MA,"Dramas, Independent Movies, International Movies"
7,Kalushi: The Story of Solomon Mahlangu,South Africa,2016,TV-MA,"Dramas, International Movies"
8,La Reina del Sur,"United States, Spain, Colombia, Mexico",2019,TV-14,"Crime TV Shows, International TV Shows, Spanis..."
9,Lagos Real Fake Life,NaN,2018,TV-14,"Comedies, International Movies"
10,Payday,Nigeria,2018,TV-MA,"Comedies, Independent Movies, International Mo..."
11,Sugar Rush Christmas,United States,2019,TV-PG,Reality TV
12,The Accidental Spy,Nigeria,2017,TV-14,"Action & Adventure, Comedies, International Mo..."
13,The Charming Stepmom,NaN,2019,TV-14,"International TV Shows, Romantic TV Shows, TV ..."
14,The Island,Nigeria,2018,TV-14,"Dramas, International Movies, Thrillers"
15,The Movies That Made Us,United States,2019,TV-MA,Docuseries
16,Holiday Rush,United States,2019,TV-PG,"Children & Family Movies, Dramas"
17,Levius,Japan,2019,TV-14,"Anime Series, International TV Shows"
18,Lugar de Mulher,Brazil,2019,TV-MA,"International TV Shows, Stand-Up Comedy & Talk..."
19,Merry Happy Whatever,United States,2019,TV-PG,TV Comedies
20,Mythomaniac,France,2019,TV-MA,"International TV Shows, TV Comedies, TV Dramas"
21,The Score,"Germany, Canada, United States",2001,R,"Dramas, Thrillers"
22,Broken,United States,2019,TV-14,Docuseries
23,Defiance,United States,2008,R,"Action & Adventure, Dramas"
24,Evvarikee Cheppoddu,India,2019,TV-14,"Comedies, International Movies, Romantic Movies"
25,Little Singham: Mahabali,NaN,2019,TV-Y7,"Children & Family Movies, Comedies"
26,The Body Remembers When the World Broke Open,"Canada, Norway",2019,TV-MA,"Dramas, Independent Movies"
27,The Irishman,United States,2019,R,Dramas
28,Mike Birbiglia: The New One,United States,2019,TV-MA,Stand-Up Comedy
29,Super Monsters Save Christmas,United States,2019,TV-Y,Children & Family Movies
...,...,...,...,...,...
5807,Iliza Shlesinger: War Paint,United States,2013,NR,Stand-Up Comedy
5808,The 4400,"United States, United Kingdom",2007,TV-14,"TV Dramas, TV Mysteries, TV Sci-Fi & Fantasy"
5809,Breaking Bad,United States,2013,TV-MA,"Crime TV Shows, TV Dramas, TV Thrillers"
5810,DreamWorks Happy Holidays from Madagascar,United States,2005,TV-PG,"Kids' TV, TV Comedies"
5811,Jack Taylor,"United States, Ireland",2016,TV-MA,"Crime TV Shows, International TV Shows, TV Dramas"
5812,Kung Fu Panda: Holiday,United States,2010,TV-PG,"Children & Family Movies, Comedies"
5813,Casa de mi Padre,"United States, Mexico",2012,R,Comedies
5814,DreamWorks Spooky Stories: Volume 2,NaN,2011,TV-PG,"Kids' TV, TV Comedies"
5815,DreamWorks Shrek's Swamp Stories,United States,2008,TV-PG,"Kids' TV, TV Action & Adventure, TV Comedies"
5816,DreamWorks How to Train Your Dragon Legends,United States,2011,TV-PG,"Kids' TV, TV Action & Adventure, TV Sci-Fi & F..."
5817,White Christmas,United States,1954,TV-G,"Children & Family Movies, Classic Movies, Come..."
5818,Being Elmo: A Puppeteer's Journey,United States,2011,PG,Documentaries
5819,A Stoning in Fulham County,United States,1988,NR,Dramas
5820,Adam: His Song Continues,United States,1986,NR,Dramas
5821,Hard Lessons,United States,1986,NR,Dramas
5822,In Defense of a Married Man,United States,1990,NR,Dramas
5823,Quiet Victory: The Charlie Wedemeyer Story,United States,1988,TV-PG,"Dramas, Sports Movies"
5824,Strange Voices,United States,1987,NR,Dramas
5825,The Ryan White Story,United States,1989,TV-PG,Dramas
5826,Too Young the Hero,United States,1988,NR,Dramas
5827,Triumph of the Heart,United States,1991,TV-PG,"Dramas, Sports Movies"
5828,Unspeakable Acts,United States,1990,NR,Dramas
5829,Victim of Beauty,United States,1991,NR,"Dramas, Thrillers"
5830,Joseph: King of Dreams,United States,2000,TV-PG,"Children & Family Movies, Dramas, Faith & Spir..."
5831,Even the Rain,"Spain, Mexico, France",2010,NR,"Dramas, International Movies"
5832,Mad Ron's Prevues from Hell,United States,1987,NR,"Cult Movies, Horror Movies"
5833,Splatter,United States,2009,TV-14,Horror Movies
5834,Just Another Love Story,Denmark,2007,NR,"Dramas, International Movies"
5835,Dinner for Five,United States,2007,TV-MA,Stand-Up Comedy & Talk Shows
5836,To and From New York,United States,2006,NR,"Dramas, Independent Movies, Thrillers"

In [34]:
pd.get_dummies(selecao['categorias'],)

,Action & Adventure,"Action & Adventure, Anime Features, Classic Movies","Action & Adventure, Anime Features, Horror Movies","Action & Adventure, Anime Features, International Movies","Action & Adventure, Anime Features, Sci-Fi & Fantasy","Action & Adventure, Children & Family Movies","Action & Adventure, Children & Family Movies, Classic Movies","Action & Adventure, Children & Family Movies, Comedies","Action & Adventure, Children & Family Movies, Dramas","Action & Adventure, Children & Family Movies, Independent Movies",...,"TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows","TV Dramas, TV Thrillers","TV Dramas, Teen TV Shows","TV Horror, TV Mysteries, TV Sci-Fi & Fantasy","TV Horror, TV Mysteries, TV Thrillers","TV Horror, TV Mysteries, Teen TV Shows","TV Horror, Teen TV Shows","TV Sci-Fi & Fantasy, TV Thrillers",TV Shows,Thrillers
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5807,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5809,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5810,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5811,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5812,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5813,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5814,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5815,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5816,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5817,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5818,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5820,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5821,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5822,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5823,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5824,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5826,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5827,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5828,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
selecao['categorias'].head()

0    International TV Shows, Korean TV Shows, Roman...
1                  Documentaries, International Movies
2               Comedies, Dramas, International Movies
3     Dramas, Independent Movies, International Movies
4                                             Kids' TV
Name: categorias, dtype: object

In [36]:
selecao['categorias'].str.extract('(\s|^\w+,)')

                   0
0
1     Documentaries,
2          Comedies,
3            Dramas,
4
5          Comedies,
6            Dramas,
7            Dramas,
8
9          Comedies,
10         Comedies,
11
12
13
14           Dramas,
15               NaN
16
17
18
19
20
21           Dramas,
22               NaN
23
24         Comedies,
25
26           Dramas,
27               NaN
28
29
...              ...
5807
5808
5809
5810
5811
5812
5813             NaN
5814
5815
5816
5817
5818             NaN
5819             NaN
5820             NaN
5821             NaN
5822             NaN
5823         Dramas,
5824             NaN
5825             NaN
5826             NaN
5827         Dramas,
5828             NaN
5829         Dramas,
5830
5831         Dramas,
5832
5833
5834         Dramas,
5835
5836         Dramas,

[5837 rows x 1 columns]

In [ ]:
selecao.head()