In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
os.getcwd()

'D:\\GitHub'

In [2]:
data = pd.read_csv(r'data_science/DataSets/PTBL3Daily.csv', sep='\t')

In [3]:
data.head()

       <DATE>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <TICKVOL>  <VOL>  <SPREAD>
0  2016.01.04    1.89    1.89   1.72     1.73         58  61400         1
1  2016.01.05    1.73    1.77   1.66     1.75         42  97000         1
2  2016.01.06    1.75    1.75   1.70     1.74         26  56900         1
3  2016.01.07    1.78    1.78   1.66     1.71         38  52400         1
4  2016.01.08    1.69    1.77   1.69     1.71         33  20000         1

In [4]:
data.tail()

          <DATE>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <TICKVOL>    <VOL>  <SPREAD>
1005  2020.01.27    6.60    6.60   6.21     6.22       3728  2044000         1
1006  2020.01.28    6.34    6.48   6.04     6.48       2912  1697300         1
1007  2020.01.29    6.51    6.55   6.11     6.11       1803  1105000         1
1008  2020.01.30    6.00    6.04   5.80     5.95       2805  1140400         1
1009  2020.01.31    5.90    5.98   5.76     5.98       1533   693300         0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 6 columns):
data          1010 non-null datetime64[ns]
abertura      1010 non-null float64
maxima        1010 non-null float64
minima        1010 non-null float64
fechamento    1010 non-null float64
volume        1010 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 47.5 KB

In [6]:
data.columns

Index(['<DATE>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<TICKVOL>', '<VOL>',
       '<SPREAD>'],
      dtype='object')

In [7]:
data.columns = ['data', 'abertura', 'maxima', 'minima', 'fechamento', 'volume_tick', 'volume', 'spread']

In [8]:
data['fechamento'].idxmax()

1004

In [9]:
data.iloc[1004]

data           2020.01.24
abertura             6.58
maxima                6.7
minima               6.35
fechamento            6.7
volume_tick          2368
volume            1622500
spread                  1
Name: 1004, dtype: object

In [10]:
data['fechamento'].tail(21).mean()

6.007142857142858

In [11]:
data.drop(['volume_tick', 'spread'], axis=1, inplace=True)

In [14]:
data['data'] = pd.to_datetime(data['data'], format='%Y.%m.%d')