# Análise Exploratória dos Dados (EDA)

In [14]:
#Importando bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [15]:
#Importar dataframe de treino e de teste
data_treino = pd.read_csv('titanic/train.csv')
data_teste = pd.read_csv('titanic/test.csv')

In [16]:
#Traduzir colunas
data_treino.columns = ['IdPassageiro', 'Sobreviveu',
                       'Classe', 'Nome', 'Sexo', 'Idade',
                       'IrmaosConjuge','PaisFilhos', 'Bilhete',
                       'Tarifa', 'Cabine', 'Embarque']

In [17]:
data_teste.columns = ['IdPassageiro', 'Classe', 'Nome',
                      'Sexo', 'Idade','IrmaosConjuge',
                      'PaisFilhos', 'Bilhete', 'Tarifa',
                      'Cabine', 'Embarque']

In [18]:
#Definir o IdPassageiro como índice
data_treino.set_index('IdPassageiro', inplace=True)
data_teste.set_index('IdPassageiro', inplace=True)

In [19]:
data_treino.shape, data_teste.shape

((891, 11), (418, 10))

In [20]:
#Concatenar dataframes
data = pd.concat([data_treino, data_teste],sort=True)

In [24]:
data['Sexo'] = data['Sexo'].map({'male': 'homem',
                                 'female': 'mulher'})

In [25]:
data.head()

,Bilhete,Cabine,Classe,Embarque,Idade,IrmaosConjuge,Nome,PaisFilhos,Sexo,Sobreviveu,Tarifa
IdPassageiro,,,,,,,,,,,
1,A/5 21171,NaN,3,S,22.0,1,"Braund, Mr. Owen Harris",0,NaN,0.0,7.2500
2,PC 17599,C85,1,C,38.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,NaN,1.0,71.2833
3,STON/O2. 3101282,NaN,3,S,26.0,0,"Heikkinen, Miss. Laina",0,NaN,1.0,7.9250
4,113803,C123,1,S,35.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,NaN,1.0,53.1000
5,373450,NaN,3,S,35.0,0,"Allen, Mr. William Henry",0,NaN,0.0,8.0500

## Parâmetros Categóricos
* Nominais
 * Sexo
 * Embarque
 * Sobreviveu
 
* Ordinais
 * Classe
 

## Parâmetros Númericos
* Contínuos
 * Idade
 * Tarifa
 
* Discretos
 * IrmaosConjuge
 * PaisFilhos
 
## Parâmetros Alfanuméricos
* Bilhete