In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
os.getcwd()

'D:\\GitHub'

In [3]:
data = pd.read_csv(r'data_science/DataSets/PTBL3Daily.csv', sep='\t')

In [15]:
data.head()

        data  abertura  maxima  minima  fechamento  volume
0 2016-01-04      1.89    1.89    1.72        1.73   61400
1 2016-01-05      1.73    1.77    1.66        1.75   97000
2 2016-01-06      1.75    1.75    1.70        1.74   56900
3 2016-01-07      1.78    1.78    1.66        1.71   52400
4 2016-01-08      1.69    1.77    1.69        1.71   20000

In [16]:
data.tail()

           data  abertura  maxima  minima  fechamento   volume
1005 2020-01-27      6.60    6.60    6.21        6.22  2044000
1006 2020-01-28      6.34    6.48    6.04        6.48  1697300
1007 2020-01-29      6.51    6.55    6.11        6.11  1105000
1008 2020-01-30      6.00    6.04    5.80        5.95  1140400
1009 2020-01-31      5.90    5.98    5.76        5.98   693300

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 6 columns):
data          1010 non-null datetime64[ns]
abertura      1010 non-null float64
maxima        1010 non-null float64
minima        1010 non-null float64
fechamento    1010 non-null float64
volume        1010 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 47.5 KB

In [7]:
data.columns

Index(['<DATE>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<TICKVOL>', '<VOL>',
       '<SPREAD>'],
      dtype='object')

In [8]:
data.columns = ['data', 'abertura', 'maxima', 'minima', 'fechamento', 'volume_tick', 'volume', 'spread']

In [9]:
data['fechamento'].idxmax()

1004

In [10]:
data.iloc[1004]

data           2020.01.24
abertura             6.58
maxima                6.7
minima               6.35
fechamento            6.7
volume_tick          2368
volume            1622500
spread                  1
Name: 1004, dtype: object

In [11]:
data['fechamento'].tail(21).mean()

6.007142857142858

In [12]:
data.drop(['volume_tick', 'spread'], axis=1, inplace=True)

In [13]:
data['data'] = pd.to_datetime(data['data'], format='%Y.%m.%d')

In [20]:
data.groupby('data').

,data,abertura,maxima,minima,fechamento,volume
count,1010,1010.000000,1010.000000,1010.000000,1010.000000,1.010000e+03
unique,1010,NaN,NaN,NaN,NaN,NaN
top,2017-10-30 00:00:00,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
first,2016-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN
last,2020-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,3.737089,3.794693,3.663653,3.730317,4.842368e+05
std,NaN,1.237087,1.253343,1.216865,1.238275,4.680933e+05
min,NaN,1.510000,1.530000,1.480000,1.510000,4.000000e+03
25%,NaN,2.502500,2.542500,2.452500,2.500000,2.151500e+05
50%,NaN,3.965000,4.025000,3.885000,3.950000,3.541500e+05
75%,NaN,4.850000,4.900000,4.770000,4.850000,6.116000e+05
max,NaN,6.660000,6.700000,6.500000,6.700000,6.000000e+06